{
  "listen_addr": ":8080",
  "onebot_listen_addr": ":8081",
  "feed": {
    "title": "UESTC LUG",
    "link": "https://qm.qq.com/q/itSCyURda8",
    "description": "UESTC LUG QQ group links shared",
    "author_name": "UESTC LUG",
    "author_email": "placeholder@example.com",
    "storage_path": "store.json",
    "max_items": 20,
    "group_id": 123456
  }
}
